*{
	margin: 10px;
	padding: 0px;
}
body{
	font-size: 120%;
	background: #F8F8FF;
	
}

.header{
	width: 100%;
	margin: 50px auto 0px;
	color: white;
	font-size: 180%;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
    border-bottom: none; 
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}

.btn{
	padding: 10px;
	font-size:15px;
	color:white;
	width: 80%;
	background: #5F9EA0;
	border:none;
	border-radius: 5px;
}

.input-group{
	margin: 10px 0px 10px 0px;
}

.input-group label{
	
	display:block;
	text-align:left;
	margin:3px;
}


.input-groupNew{
	width: 80%;
	margin:0px auto;
	padding:20px;
	border: 1px solid #B0C4DE;
	background:white;
	
}

.column {
  float: left;
  padding: 10px;
  
}

.left {
  width: 25%;
}

.middle {
  width: 50%;
}

.right {
   width: 15%;
}

.head {
	font-size: 160%;
	color: #5F9EA0;
	text-align:center;
}

